dist/helper.html
<!DOCTYPE html>
<html lang="ru">

	<head>
		<meta charset="UTF-8">
		<title>еНано: полезные курсы для hi-tech-специалистов</title>
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="canonical" href="URL">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<meta name="description" content="еНано: нанотехнологии и технологическое предпринимательство онлайн">
		<meta name="keywords" content="ФИОП, Фонд инфраструктурных и образовательных программ, edunano, нано, нанотехнологии, онлайн курс, онлайн обучение, технопредпринимательство, технологическое предпринимательство, стемфорд, вебинар, роснано, НИОКР, управление рисками, онлайн-курс, программа повышения квалификации, ispring, вузы, сертификат, диплом, управление проектами, стартап, чубайс, маркетинг курс, маркетинг обучение, проектный подход, инновации, ТРИЗ, трансфер технологий, цифровые компетенции, цифровая экономика, промдизайн, трансфер технологий, R&amp;D, наука, коммерциализация, ИИ, Ципес, Антонец, геймификация, e-learning, Аллотроп">
		<meta name="author" content="">
		<meta name="og:title" content="еНано: полезные курсы для hi-tech-специалистов">
		<meta name="og:type" content="website">
		<meta name="og:image" content="https://edunano.ru/local/templates/main/build/assets/img/favicon/favicon.png">
		<meta name="og:url" content="https://edunano.ru/">
		<meta name="og:description" content="еНано: нанотехнологии и технологическое предпринимательство онлайн">
		<meta name="og:site_name" content="edunano">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="еНано: полезные курсы для hi-tech-специалистов">
		<meta name="twitter:description" content="еНано: нанотехнологии и технологическое предпринимательство онлайн">
		<meta name="twitter:image" content="https://edunano.ru/local/templates/main/build/assets/img/favicon/favicon.png">
		<meta name="twitter:url" content="https://edunano.ru/"><!-- iOS-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="white">
		<meta name="apple-mobile-web-app-title" content="еНано: полезные курсы для hi-tech-специалистов">
		<link rel="apple-touch-icon" href="assets/images/favicons/apple-touch-icon.png"><!-- Android-->
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#ffffff">
		<link rel="icon" type="image/png" href="assets/images/favicons/android-icon-192x192.png" sizes="192x192"><!-- Windows-->
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!--link(type='font/woff', href=require('font'), rel='preload', as='font', crossorigin)-->
		<link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
		<link href="app.css" rel="stylesheet">
	</head>

	<body class="page-main">
		<!--[if lt IE 9]><p class="browsehappy">Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;<a href="http://browsehappy.com/" target="_blank">современных браузеров.</a> Это бесплатно и займет всего несколько минут.</p><![endif]-->
		<div class="main">
			<header class="header">
				<div class="header-menu">
					<div class="l-header__cell l-header__cell--burger">
						<div class="l-burger header-menu--js"><span class="l-burger__dash l-burger__dash--1"></span><span class="l-burger__dash l-burger__dash--2"></span><span class="l-burger__dash l-burger__dash--3"></span><span class="l-burger__dash l-burger__dash--4"></span></div>
					</div>
				</div>
				<div class="header-logo"><a href="#"><img src="assets/images/logo-enano-fill.svg" alt="" /></a></div>
				<div class="c-header-menu">
					<div class="c-header-menu__btn js-header-menu-btn" data-target="#header-drop-0">Каталог курсов<img class="ui-icon-svg c-header-menu__btn-arr" src="assets/images/icons/showmore-b-s.svg"></div>
				</div>
				<div class="header-link"><a href="#">Мероприятия</a></div>
				<div class="header-logout"><img src="assets/images/icons/exit.svg" alt="" /><a href="">Выйти</a></div>
				<nav>
					<div class="l-panel-overlay"></div>
					<div class="l-panel">
						<div class="l-panel__content">
							<div class="c-panel-nav aside-menu">
								<div class="c-panel-title c-panel-title--js active">Главное меню</div>
								<ul class="main-nav">
									<li class="main-nav__item c-panel-nav__menu-item--level-1 main-nav__item--parent"><a class="main-nav__link" href="#" title="О компании">О компании</a>
										<ul class="sub-nav">
											<li class="main-nav__item c-panel-nav__menu-item--level-2"><a class="main-nav__link" href="#" title="О компании">О компании</a></li>
										</ul>
									</li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1"><a class="main-nav__link" href="#" title="Вузам">Вузам</a></li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1 main-nav__item--parent"><a class="main-nav__link" href="#" title="Технопред">Технопред</a>
										<ul class="sub-nav">
											<li class="main-nav__item c-panel-nav__menu-item--level-2"><a class="main-nav__link" href="#" title="Технопредпринимательство">Технопредпринимательство</a></li>
											<li class="main-nav__item c-panel-nav__menu-item--level-2"><a class="main-nav__link" href="#" title="Технопредпринимательство">Технопредпринимательство</a></li>
											<li class="main-nav__item c-panel-nav__menu-item--level-2"><a class="main-nav__link" href="#" title="Технопредпринимательство">Технопредпринимательство</a></li>
											<li class="main-nav__item c-panel-nav__menu-item--level-2"><a class="main-nav__link" href="#" title="Технопредпринимательство">Технопредпринимательство</a></li>
											<li class="main-nav__item c-panel-nav__menu-item--level-2"><a class="main-nav__link" href="#" title="Технопредпринимательство">Технопредпринимательство</a></li>
										</ul>
									</li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1 main-nav__item--parent"><a class="main-nav__link" href="#" title="Профориентация">Профориентация</a>
										<ul class="sub-nav">
											<li class="main-nav__item c-panel-nav__menu-item--level-2"><a class="main-nav__link" href="#" title="Профориентация">Профориентация</a></li>
										</ul>
									</li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1 main-nav__item--parent"><a class="main-nav__link" href="#" title="Каталог">Каталог</a>
										<ul class="sub-nav">
											<li class="main-nav__item c-panel-nav__menu-item--level-2"><a class="main-nav__link" href="#" title="Каталог">Каталог</a></li>
										</ul>
									</li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1"><a class="main-nav__link" href="#" title="Подписка на курсы">Подписка на курсы</a></li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1"><a class="main-nav__link" href="#" title="График обучения">График обучения</a></li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1"><a class="main-nav__link" href="#" title="Открытая коллекция">Открытая коллекция</a></li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1"><a class="main-nav__link" href="#" title="Конференция по инженерному образованию">Конференция по инженерному образованию</a></li>
									<li class="main-nav__item c-panel-nav__menu-item--level-1"><a class="main-nav__link" href="#" title="Год науки и технологий">Год науки и технологий</a></li>
								</ul>
							</div>
							<div class="aside-nav">
								<ul class="main-nav">
									<li class="main-nav__item"><a class="main-nav__link active" href="#" title="Программа">Программа</a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Прогресс">Прогресс</a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Календарь">Календарь</a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Слушатели">Слушатели</a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Объявления">Объявления<span>1</span></a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Форум">Форум<span>1</span></a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Поддержка">Поддержка</a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Рекомендации">Рекомендации</a></li>
									<li class="main-nav__item main-nav__item--parent"><a class="main-nav__link" href="#" title="Админ обучения">Админ обучения</a>
										<ul class="sub-nav">
											<li class="main-nav__item"><a class="main-nav__link" href="#" title="Админ обучения">Админ обучения</a></li>
											<li class="main-nav__item"><a class="main-nav__link" href="#" title="Руководство ППК">Руководство ППК</a></li>
											<li class="main-nav__item"><a class="main-nav__link" href="#" title="Печать удостоверений">Печать удостоверений</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="l-panel-safe"></div>
				</nav>
				<div class="c-header-menu__drop js-header-menu-drop" id="header-drop-0">
					<div class="c-header-menu__wrap-border">
						<div class="c-header-menu__border"></div>
					</div>
					<div class="c-header-menu__container l-container">
						<div class="c-header-menu__columns l-columns">
							<div class="c-header-menu__column c-header-menu__column--catalog l-column lg-col-12">
								<div class="c-header-menu__head">
									<div class="c-header-menu__title">Каталог курсов</div><a class="c-header-menu__all" href="/katalog/">Все курсы<svg class="ui-icon-svg">
											<use xlink:href="#icon-rarr"></use>
										</svg></a>
								</div>
								<ul class="c-header-menu__list l-columns cols-auto lg-cols-2 xl-cols-5">
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=elektroenergetika"><span class="c-header-menu__item-text">Электроэнергетика</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=materialovedy-2-0"><span class="c-header-menu__item-text">Материаловеды 2.0</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=it"><span class="c-header-menu__item-text">ИТ</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=Menedzhment"><span class="c-header-menu__item-text">Менеджмент</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=sistemnoe-myshlenie"><span class="c-header-menu__item-text">Системное мышление</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=tekhnologii"><span class="c-header-menu__item-text">Технологии</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=otsenka-kvalifikatsii"><span class="c-header-menu__item-text">Оценка квалификации</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=marketing"><span class="c-header-menu__item-text">Маркетинг</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=e-learning"><span class="c-header-menu__item-text">Разработка онлайн-курсов</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=upravlenie-riskami"><span class="c-header-menu__item-text">Управление рисками</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=niokr"><span class="c-header-menu__item-text">НИОКР</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=yurisprudentsiya"><span class="c-header-menu__item-text">Юриспруденция</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=promdizayn"><span class="c-header-menu__item-text">Промдизайн</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=obrazovanie"><span class="c-header-menu__item-text">Образование</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=nanomaterialy"><span class="c-header-menu__item-text">Наноматериалы</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=mikroelektronika"><span class="c-header-menu__item-text">Микроэлектроника</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=profstandart"><span class="c-header-menu__item-text">Профстандарт</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
									<li class="l-column"><a class="c-header-menu__item" href="/katalog/?tag=onlayn-shkola"><span class="c-header-menu__item-text">Онлайн-школа</span><svg class="ui-icon-svg c-header-menu__item-icon">
												<use xlink:href="#icon-arrow-up-right"></use>
											</svg></a></li>
								</ul>
							</div>
						</div>
					</div><img class="c-header-menu__close js-header-menu-close" src="assets/images/icons/close1.svg" alt="" title="">
				</div>
			</header>
			<aside class="aside">
				<div class="aside-cabinet">
					<div class="aside-head">
						<div class="aside-user"><img src="assets/images/dash-1.jpg" alt="" /></div>
						<div class="aside-name">Александр <br /> Федоров</div>
					</div>
					<div class="aside-nav">
						<ul class="main-nav">
							<li class="main-nav__item"><a class="main-nav__link" href="#" title="Программа">Программа</a></li>
							<li class="main-nav__item"><a class="main-nav__link" href="#" title="Прогресс">Прогресс</a></li>
							<li class="main-nav__item"><a class="main-nav__link" href="#" title="Календарь">Календарь</a></li>
							<li class="main-nav__item"><a class="main-nav__link" href="#" title="Слушатели">Слушатели</a></li>
							<li class="main-nav__item"><a class="main-nav__link" href="#" title="Объявления">Объявления<span>1</span></a></li>
							<li class="main-nav__item"><a class="main-nav__link" href="#" title="Форум">Форум<span>1</span></a></li>
							<li class="main-nav__item"><a class="main-nav__link" href="#" title="Поддержка">Поддержка</a></li>
							<li class="main-nav__item"><a class="main-nav__link" href="#" title="Рекомендации">Рекомендации</a></li>
							<li class="main-nav__item main-nav__item--parent"><a class="main-nav__link" href="#" title="Админ обучения">Админ обучения</a>
								<ul class="sub-nav">
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Админ обучения">Админ обучения</a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Руководство ППК">Руководство ППК</a></li>
									<li class="main-nav__item"><a class="main-nav__link" href="#" title="Печать удостоверений">Печать удостоверений</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</aside>
			<main class="page-helper">
				<section class="pageHeader">
					<div class="container text--uppercase">
						<h1>Помощь</h1>
					</div>
				</section>
				<section class="container content">
					<h2 class="subTitle">Инструкции по личному кабинету</h2>
					<div class="helper">
						<div class="helper-btns row row--sm">
							<div class="col col__md-3 col__xs-12 form__group"><a href="#">Аннотация</a></div>
							<div class="col col__md-3 col__xs-12 form__group"><a href="#">Сертификаты</a></div>
							<div class="col col__md-3 col__xs-12 form__group"><a href="#">Я изучаю</a></div>
							<div class="col col__md-3 col__xs-12 form__group"><a href="#">Профиль пользователя</a></div>
							<div class="col col__md-3 col__xs-12 form__group"><a href="#">Календарь</a></div>
							<div class="col col__md-3 col__xs-12 form__group"><a href="#">Анкетирование</a></div>
							<div class="col col__md-3 col__xs-12 form__group"><a href="#">Материалы</a></div>
						</div>
						<h2 class="subTitle">Служба поддержки</h2>
						<div class="messages">
							<div class="messages-container scroll-container">
								<div class="message message--right">
									<div class="message-body">
										<div class="message-name">Лев Воронин</div>
										<div class="message-date">03.07.2019 11:00</div>
										<div class="message-bubble">Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара</div>
									</div>
								</div>
								<div class="message message--right">
									<div class="message-body">
										<div class="message-name">Лев Воронин</div>
										<div class="message-date">03.07.2019 11:00</div>
										<div class="message-bubble">Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара</div>
									</div>
								</div>
								<div class="message message--right">
									<div class="message-body">
										<div class="message-name">Лев Воронин</div>
										<div class="message-date">03.07.2019 11:00</div>
										<div class="message-bubble">Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара</div>
									</div>
								</div>
								<div class="message message--left">
									<div class="message-body">
										<div class="message-name">Вы</div>
										<div class="message-date">03.07.2019 11:00</div>
										<div class="message-bubble">Ответ ведущего на заданный вопорсОтвет ведущего на заданный вопорсОтвет ведущего на заданный вопорс Ответ ведущего на заданный вопорс</div>
									</div>
								</div>
								<div class="message message--left">
									<div class="message-body">
										<div class="message-name">Вы</div>
										<div class="message-date">03.07.2019 11:00</div>
										<div class="message-bubble">Ответ ведущего на заданный вопорсОтвет ведущего на заданный вопорсОтвет ведущего на заданный вопорс Ответ ведущего на заданный вопорс</div>
									</div>
								</div>
								<div class="message message--right">
									<div class="message-body">
										<div class="message-name">Лев Воронин</div>
										<div class="message-date">03.07.2019 11:00</div>
										<div class="message-bubble">Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара</div>
									</div>
								</div>
							</div>
							<form class="messages-bottom" method="POST" action="php"><input class="control" type="text" placeholder="Ваше сообщение"><button class="btn btn--primary" type="submit"><span>Отправить</span><i class="icon-right"></i></button></form>
						</div>
					</div>
				</section>
			</main>
		</div>
		<footer class="l-footer">
			<div class="l-footer__container l-footer__container--1 l-container">
				<div class="l-footer__columns l-columns align-items-center row">
					<div class="l-footer__column l-column lg-col-3 xl-col-3 col__xl-3 col__lg-3 col"><a class="l-footer__logo" href="/"><img src="assets/images/logo-enano-footer.svg" alt="" /></a></div>
					<div class="l-footer__column l-column lg-col-5 xl-col-6 col__xl-6 col__lg-5 col"><a class="l-footer__logo" href="https://www.rusnano.com/"><img src="assets/images/logo-rosnano.svg" alt="" /></a></div>
					<div class="l-footer__column l-column lg-col-4 xl-col-3 col__xl-3 col__lg-4 col"></div>
				</div>
			</div>
			<div class="l-footer__divider"></div>
			<div class="l-footer__container l-footer__container--2 l-container">
				<div class="l-footer__columns l-columns row">
					<div class="l-footer__column l-footer__column--contacts column lg-col-6 xl-col-3 col__xl-3 col__lg-6 col"><b class="l-footer__contacts-title"><a href="tel:+74959885388p1669">+7 (495) 988-53-88</a></b>
						<div class="l-footer__contacts-hint">Добавочный номер — 1669</div><b class="l-footer__contacts-title"><a href="tel:+74959885388p1408">+7 (495) 988-53-88</a></b>
						<div class="l-footer__contacts-hint">Добавочный номер — 1408</div><b class="l-footer__contacts-title"><a href="mailto:enano@rusnano.com">enano@rusnano.com</a></b>
						<div class="l-footer__contacts-hint">Для писем</div><b class="l-footer__contacts-title">Соц. сети</b>
						<div class="l-footer__socials d-flex flex-wrap"><a class="l-footer__socials-item" href="https://www.facebook.com/edunano.ru/"><img src="assets/images/soc-facebook.svg" alt="" /></a><a class="l-footer__socials-item" href="https://vk.com/edunano"><img src="assets/images/soc-vk.svg" alt="" /></a><a class="l-footer__socials-item" href="https://www.instagram.com/edunano.ru/"><img src="assets/images/soc-instagram.svg" alt="" /></a><a class="l-footer__socials-item" href="https://www.youtube.com/channel/UCtYuwEN0d2ImShqSDG8ci-g"><img src="assets/images/soc-youtube.svg" alt="" /></a></div>
					</div>
					<div class="l-footer__column l-column lg-col-6 xl-col-3 col__xl-3 col__lg-6 col">
						<div class="l-footer__menu-title hidden lg-visible">Информация</div>
						<div class="l-footer__menu-title lg-hidden" onclick="$fn.toggle(this.parentNode)">Информация<svg class="ui-icon-svg l-footer__menu-plus">
								<use xlink:href="#icon-plus"></use>
							</svg></div>
						<div class="l-footer__menu-slide">
							<ul class="c-footer-menu">
								<li><a href="/o-kompanii/">О компании</a></li>
								<li><a href="http://enano-vuzam.ru/">Вузам</a></li>
								<li><a href="/tekhnopredprinimatelstvo-i-innovatsionnyy-menedzhment/">Техпред</a></li>
								<li><a href="/o-proforientatsii/">Профориентация</a></li>
								<li><a href="/katalog/">Каталог</a></li>
								<li><a href="https://edunano.ru/podpiska/">Подписка на курсы</a></li>
								<li><a href="/grafik-obucheniya/">График обучения</a></li>
								<li><a href="/nanotekhnologii/otkrytaya-kollektsiya/">Открытая коллекция</a></li>
								<li><a href="https://ceeonline.ru/">Конференция по инженерному образованию</a></li>
								<li><a href="/flagship/god-nauki-i-tekhnologiy/">Год науки и технологий</a></li>
							</ul>
						</div>
					</div>
					<div class="l-footer__column l-column lg-col-12 xl-col-6 col__xl-6 col__lg-12 col">
						<div class="l-footer__menu-title hidden lg-visible">Каталог</div>
						<div class="l-footer__menu-title lg-hidden" onclick="$fn.toggle(this.parentNode)">Каталог<svg class="ui-icon-svg l-footer__menu-plus">
								<use xlink:href="#icon-plus"></use>
							</svg></div>
						<div class="l-footer__menu-slide">
							<div class="l-columns row">
								<div class="l-column lg-col-6 col__lg-6 col">
									<ul class="c-footer-menu">
										<li><a href="/katalog/?tag=elektroenergetika">Электроэнергетика</a></li>
										<li><a href="/katalog/?tag=it">ИТ</a></li>
										<li><a href="/katalog/?tag=Menedzhment">Менеджмент</a></li>
										<li><a href="/katalog/?tag=tekhnologii">Технологии</a></li>
										<li><a href="/katalog/?tag=otsenka-kvalifikatsii">Оценка квалификации</a></li>
										<li><a href="/katalog/?tag=marketing">Маркетинг</a></li>
										<li><a href="/katalog/?tag=e-learning">Разработка онлайн-курсов</a></li>
										<li><a href="/katalog/?tag=nanotekhnologii">Нанотехнологии</a></li>
									</ul>
								</div>
								<div class="l-column lg-col-6 col__lg-6 col">
									<ul class="c-footer-menu">
										<li><a href="/katalog/?tag=upravlenie-riskami">Управление рисками</a></li>
										<li><a href="/katalog/?tag=niokr">НИОКР</a></li>
										<li><a href="/katalog/?tag=yurisprudentsiya">Юриспруденция</a></li>
										<li><a href="/katalog/?tag=promdizayn">Промдизайн</a></li>
										<li><a href="/katalog/?tag=obrazovanie">Образование</a></li>
										<li><a href="/katalog/?tag=nanomaterialy">Наноматериалы</a></li>
										<li><a href="/katalog/?tag=mikroelektronika">Микроэлектроника</a></li>
										<li><a href="/katalog/?tag=profstandart">Профстандарт</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-footer__divider"></div>
			<div class="l-footer__container l-footer__container--3 l-container">
				<div class="l-footer__columns l-columns row">
					<div class="l-footer__column l-column lg-col-3 col__lg-3 col">
						<div class="l-footer__address">Россия, 117036, г.Москва,<br class="hidden lg-visible"> пр-т 60-летия Октября,<br class="hidden lg-visible"> дом 10А</div>
					</div>
					<div class="l-footer__column l-column lg-col-3 col__lg-3 col">
						<ul class="c-footer-submenu">
							<li><a href="/o-kompanii/svedeniya-ob-obrazovatelnoy-organizatsii/">Сведения об образовательной организации</a></li>
							<li><a href="/o-kompanii/press-tsentr/">Пресс-центр</a></li>
							<li><a href="/o-kompanii/litsenziya/">Лицензия</a></li>
						</ul>
					</div>
					<div class="l-footer__column l-column lg-col-3 col__lg-3 col">
						<ul class="c-footer-submenu">
							<li><a href="/o-kompanii/politikа-v-otnoshenii-ispolzovaniya-cookie-faylov/">Политика в отношении использования Cookie-файлов</a></li>
							<li><a href="/o-kompanii/politika-v-otnoshenii-obrabotki-personalnykh-dannykh/">Политика в отношении обработки персональных данных</a></li>
							<li><a href="/upload/o_kompanii/Годовой отчет АНО еНано за 2020 год.pdf">Годовой отчет 2020</a></li>
						</ul>
					</div>
					<div class="l-footer__column l-column lg-col-3 col__lg-3 col">
						<ul class="c-footer-submenu">
							<li><a href="/o-kompanii/publichnyy-dogovor-oferta-o-predostavlenii-uslug/">Публичный договор-оферта о предоставлении услуг</a></li>
							<li><a href="/o-kompanii/soglasie-na-obrabotku-personalnykh-dannykh/">Согласие на обработку персональных данных</a></li>
							<li><a href="http://stage.edunano.ru/o-kompanii/svedeniya-ob-obrazovatelnoy-organizatsii/">Сведения об образовательной организации</a></li>
						</ul>
					</div>
					<div class="l-footer__column l-column col-12 col__xs-12 col">
						<div class="l-footer__copyright">© 2013 – 2021 АНО «еНано»</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="l-overlay is-transition is-delayed" id="header-menu-overlay"></div>
		<div style="display:none"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<symbol id="icon-arrow-up-right" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.0039 3.414L2.39691 12.021L0.98291 10.607L9.58891 2H2.00391V0H13.0039V11H11.0039V3.414Z"></path>
				</symbol>
				<symbol id="icon-rarr" viewBox="0 0 23 16" xmlns="http://www.w3.org/2000/svg">
					<path d="M22.7071 8.70706C23.0976 8.31653 23.0976 7.68337 22.7071 7.29284L16.3431 0.928879C15.9526 0.538355 15.3195 0.538355 14.9289 0.928879C14.5384 1.31941 14.5384 1.95257 14.9289 2.3431L20.5858 7.99995L14.9289 13.6568C14.5384 14.0473 14.5384 14.6804 14.9289 15.071C15.3195 15.4615 15.9526 15.4615 16.3431 15.071L22.7071 8.70706ZM0 8.99995L22 8.99995V6.99995L0 6.99995L0 8.99995Z"></path>
				</symbol>
			</svg></div>
		<script type="text/javascript" src="assets/vendor.js"></script>
		<script type="text/javascript" src="assets/app.js"></script>
	</body>

</html>

src/views/pages/helper.pug
extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('helper.html', menu)

block content
  main.page-helper
    section.pageHeader
      .container.text--uppercase
        h1 Помощь
    section.container.content
      h2.subTitle Инструкции по личному кабинету
      .helper
        .helper-btns.row.row--sm
          .col.col__md-3.col__xs-12.form__group: a(href='#') Аннотация
          .col.col__md-3.col__xs-12.form__group: a(href='#') Сертификаты
          .col.col__md-3.col__xs-12.form__group: a(href='#') Я изучаю
          .col.col__md-3.col__xs-12.form__group: a(href='#') Профиль пользователя
          .col.col__md-3.col__xs-12.form__group: a(href='#') Календарь
          .col.col__md-3.col__xs-12.form__group: a(href='#') Анкетирование
          .col.col__md-3.col__xs-12.form__group: a(href='#') Материалы
        h2.subTitle Служба поддержки
        .messages
          .messages-container.scroll-container
            .message.message--right
              .message-body
                .message-name Лев Воронин
                .message-date 03.07.2019 11:00
                .message-bubble Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара
            .message.message--right
              .message-body
                .message-name Лев Воронин
                .message-date 03.07.2019 11:00
                .message-bubble Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара
            .message.message--right
              .message-body
                .message-name Лев Воронин
                .message-date 03.07.2019 11:00
                .message-bubble Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара
            .message.message--left
              .message-body
                .message-name Вы
                .message-date 03.07.2019 11:00
                .message-bubble Ответ ведущего на заданный вопорсОтвет ведущего на заданный вопорсОтвет ведущего на заданный вопорс Ответ ведущего на заданный вопорс
            .message.message--left
              .message-body
                .message-name Вы
                .message-date 03.07.2019 11:00
                .message-bubble Ответ ведущего на заданный вопорсОтвет ведущего на заданный вопорсОтвет ведущего на заданный вопорс Ответ ведущего на заданный вопорс
            .message.message--right
              .message-body
                .message-name Лев Воронин
                .message-date 03.07.2019 11:00
                .message-bubble Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара Вопрос по теме вебинара
          form.messages-bottom(method='POST', action='php')
            input.control(type='text', placeholder='Ваше сообщение')
            button.btn.btn--primary(type='submit')
              span Отправить
              i.icon-right


block footer
  include ../partials/_footer-s.pug
